<!DOCTYPE HTML>
		<head>
			<meta charset='utf-8'>
		</head>
		<h2 class='contenth2'>Kanalle marinadi</h2>

		<div class='contentP'>
		
		 <table>
		  <tr>
				<td class='ingrtd'>2-3 rkl</td>
				<td class='ingrtd'>soijaa</td>
			  </tr> <tr>
				<td class='ingrtd'>3 kpl</td>
				<td class='ingrtd'>valkosipulinkynsi</td>
			  </tr> <tr>
				<td class='ingrtd'>3 rkl</td>
				<td class='ingrtd'>öljyä (rypsi)</td>
			  </tr> <tr>
				<td class='ingrtd'>2 rkl</td>
				<td class='ingrtd'>hunajaa</td>
			  </tr> <tr>
				<td class='ingrtd'>(2 rkl</td>
				<td class='ingrtd'>sitruunamehua)</td>
			  </tr> <tr>
				<td class='ingrtd'></td>
				<td class='ingrtd'>mustapippuria</td>
			  </tr>
		</table> 

		</div>

		<h3 class='contenth3'>Ohjeet</h3>

		<div class='contentP'>

		<p>
			Lisää soija, öljy ja hunaja kulhossa olevien kanojen päälle ja sekoita hyvin. Lisää hyvin puristellut valkosipulinkynnet sekä pippuri. Lisää halutessasi sitruunamehu. 
		</p>

		</div>
		