<!DOCTYPE HTML>
		<head>
			<meta charset='utf-8'>
		</head>
		<h2 class='contenth2'>Lettutaikina veteen</h2>

		<div class='contentP'>
		
		 <table>
		  <tr>
				<td class='ingrtd'>2.5 dl</td>
				<td class='ingrtd'>vesi</td>
			  </tr> <tr>
				<td class='ingrtd'>1.5 dl</td>
				<td class='ingrtd'>vehnäjauhot</td>
			  </tr> <tr>
				<td class='ingrtd'>1-2 kpl</td>
				<td class='ingrtd'>kananmuna</td>
			  </tr> <tr>
				<td class='ingrtd'>3 rkl</td>
				<td class='ingrtd'>sokeri</td>
			  </tr> <tr>
				<td class='ingrtd'>0.5 tl</td>
				<td class='ingrtd'>suola</td>
			  </tr> <tr>
				<td class='ingrtd'>1 rkl</td>
				<td class='ingrtd'>voita/margariinia</td>
			  </tr>
		</table> 

		</div>

		<h3 class='contenth3'>Ohjeet</h3>

		<div class='contentP'>

		<p>
			Sekoita vesi ja jauhot. Vatkaa mukaan kananmuna, lisää sitten suola, sokeri ja rasva. Anna turvota vähintään 15min. Paista voissa. 
		</p>

		</div>
		