<!DOCTYPE HTML>
<h2 class="contenth2">Jauhelihapihvit/pullat</h2>

<div class="contentP">

<!-- <div class="imgDiv">

	...

</div> -->

<p>Uuni 200°C tai pannulla</p>



<table>
  <tr>
    <td class="ingrtd">400g</td>
    <td class="ingrtd">sikanauta-jauhelihaa</td>
  </tr>
  <tr>
    <td class="ingrtd">1-2 kpl</td>
    <td class="ingrtd">kananmunia</td>
  </tr>
  <tr>
    <td class="ingrtd">1 kpl</td>
    <td class="ingrtd">sipuli</td>
  </tr>
  <tr>
    <td class="ingrtd">paljon</td>
    <td class="ingrtd">valkosipulia</td>
  </tr>
    <tr>
    <td class="ingrtd">1dl</td>
    <td class="ingrtd">maitoa</td>
  </tr>
  <tr>
    <td class="ingrtd">0,5dl</td>
    <td class="ingrtd">korppujauhoja</td>
  </tr>
  <tr>
    <td class="ingrtd">2tl</td>
    <td class="ingrtd">suolaa</td>
  </tr>
  <tr>
    <td class="ingrtd">2tl</td>
    <td class="ingrtd">pippurisekoitusta</td>
  </tr>
</table> 



</div>

<h3 class="contenth3">Ohjeet</h3>

<div class="contentP">

<p>
Lihapullat uunissa 200 asteessa 20 minuuttia. 
<br>
<br>

Sekoita korppujauhot ja maito. Anna jauhojen turvota hetki. Lisää seokseen jauheliha, 
<br>
pilkottu sipuli, kananmunat ja mausteet. Sekoita taikina hyvin. Muotoile taikinasta samankokoisia, 
<br> 
ohuita pihvejä ja paista pihvit kypsiksi pannulla. Pihvit sopivat hyvin mm. hampurilaisten väliin.

</p>

</div>