<!DOCTYPE HTML>
		<head>
			<meta charset='utf-8'>
		</head>
		<h2 class='contenth2'>Mutakakku</h2>

		<div class='contentP'>
		
		 <table>
		  <tr>
				<td class='ingrtd'>100g</td>
				<td class='ingrtd'>voita</td>
			  </tr> <tr>
				<td class='ingrtd'>2 kpl</td>
				<td class='ingrtd'>kananmunia</td>
			  </tr> <tr>
				<td class='ingrtd'>3dl</td>
				<td class='ingrtd'>sokeria</td>
			  </tr> <tr>
				<td class='ingrtd'>3 rkl</td>
				<td class='ingrtd'>kaakaojauhetta</td>
			  </tr> <tr>
				<td class='ingrtd'>1 rkl</td>
				<td class='ingrtd'>vaniljasokeria</td>
			  </tr> <tr>
				<td class='ingrtd'>2 dl</td>
				<td class='ingrtd'>jauhoja</td>
			  </tr>
		</table> 

		</div>

		<h3 class='contenth3'>Ohjeet</h3>

		<div class='contentP'>

		<p>
			Uuni 175°C, 20min.
Anna voin sulaa kattilassa tai mikrossa. Vatkaa sokeri ja munat vatkaimella. Sekaan kaakaojauhe ja vaniljasokeri, sekoita. Lisää jauhot ja voi, sekoita. Voitele vuoka. Laita uuniin 20 minuutiksi. 
		</p>

		</div>
		