<!DOCTYPE HTML>
		<head>
			<meta charset='utf-8'>
		</head>
		<h2 class='contenth2'>Nakkikeitto</h2>

		<div class='contentP'>
		
		 <table>
		  <tr>
				<td class='ingrtd'>1 l</td>
				<td class='ingrtd'>vettä</td>
			  </tr> <tr>
				<td class='ingrtd'>2</td>
				<td class='ingrtd'>kana-/lihaliemikuutiota</td>
			  </tr> <tr>
				<td class='ingrtd'>5</td>
				<td class='ingrtd'>keskikokoista perunaa</td>
			  </tr> <tr>
				<td class='ingrtd'>2 ps (á 200g)</td>
				<td class='ingrtd'>Apetit Keittojuureksia</td>
			  </tr> <tr>
				<td class='ingrtd'>½ tl</td>
				<td class='ingrtd'>mustapippurirouhetta </td>
			  </tr> <tr>
				<td class='ingrtd'>300 g (yksi paketti)</td>
				<td class='ingrtd'>nakkeja</td>
			  </tr>
		</table> 

		</div>

		<h3 class='contenth3'>Ohjeet</h3>

		<div class='contentP'>

		<p>
			Vaihe 1
Laita kattilaan vesi, lihaliemikuutiot, lisää kiehuvaan veteen perunat sekä Apetit Keittojuurekset. Kuumenna ja keitä kunnes perunat ovat pehmeitä (10–15 min).
Vaihe 2
Paloittele nakit ja ruskista ne kevyesti pannulla. Lisää ruskistetut nakkipalat keittoon ja mausta keitto mustapippurirouheella. Kuumenna ja tarjoa.
Vaihe 3
Vinkki! Käyttämällä Apetit Peruna&keittokasviksia vältyt perunoiden kuorimiselta ja pilkkomiselta! Ja jos pidät sipulista, vaihda toinen keittojuurespussi Apetit Kotimainen Sipulikuutio -tuotteeseen.
		</p>

		</div>
		