<!DOCTYPE HTML>
		<head>
			<meta charset='utf-8'>
		</head>
		<h2 class='contenth2'>Pekonikastike</h2>

		<div class='contentP'>
		
		 <table>
		  <tr>
				<td class='ingrtd'>n. 200g</td>
				<td class='ingrtd'>pekonia</td>
			  </tr> <tr>
				<td class='ingrtd'>2kpl</td>
				<td class='ingrtd'>sipuli</td>
			  </tr> <tr>
				<td class='ingrtd'>2kpl</td>
				<td class='ingrtd'>paprika</td>
			  </tr> <tr>
				<td class='ingrtd'>2-3kpl</td>
				<td class='ingrtd'>valkosipulinkynsi</td>
			  </tr> <tr>
				<td class='ingrtd'>2.5dl</td>
				<td class='ingrtd'>kermaa</td>
			  </tr> <tr>
				<td class='ingrtd'>(vähän</td>
				<td class='ingrtd'>soijakastiketta)</td>
			  </tr>
		</table> 

		</div>

		<h3 class='contenth3'>Ohjeet</h3>

		<div class='contentP'>

		<p>
			Paista pekonit pannulla. Laita pekonit sivuun, ja paista pekonirasvassa sipulit, paprikat ja valkosipulit. Lisää pekonit ja kerma pannulle, anna paistua alhaisella lämmöllä. Mausta soijakastikkeella. 

Tarjoile makaroonin kanssa!
		</p>

		</div>
		