<!DOCTYPE HTML>
		<head>
			<meta charset='utf-8'>
		</head>
		<h2 class='contenth2'>Pippurikastike</h2>

		<div class='contentP'>
		
		 <table>
		  <tr>
				<td class='ingrtd'>1kpl</td>
				<td class='ingrtd'>sipuli</td>
			  </tr> <tr>
				<td class='ingrtd'>1,5 - 2 tl</td>
				<td class='ingrtd'>mustapippuria rouheena</td>
			  </tr> <tr>
				<td class='ingrtd'>4-5dl</td>
				<td class='ingrtd'>ruokakermaa</td>
			  </tr> <tr>
				<td class='ingrtd'>loraus</td>
				<td class='ingrtd'>soijakastiketta</td>
			  </tr> <tr>
				<td class='ingrtd'>1tl</td>
				<td class='ingrtd'>suolaa</td>
			  </tr>
		</table> 

		</div>

		<h3 class='contenth3'>Ohjeet</h3>

		<div class='contentP'>

		<p>
			Paista haluamasi pihvit pannulla ja siirrä lautaselle odottamaan. (Tarvittaessa putsaa pannua ja laita pannulle hiukka rasvaa ..) lisää pannulle lohkottu sipuli ja mustapippuri ja kuullota kevyesti. Lisää ruokakerma sekoitellen joukkoon ja keitä hetkisen. Lisää suola ja reilu loraus soijakastiketta (antaa väriä ja täyteläisyyttä makuun). Siirrä pihvit kastikkeen joukkoon ja anna maustaa toisensa.
		</p>

		</div>
		