<!DOCTYPE HTML>
		<head>
			<meta charset='utf-8'>
		</head>
		<h2 class='contenth2'>Pizzapohja</h2>

		<div class='contentP'>
		
		 <table>
		  <tr>
				<td class='ingrtd'>25 g</td>
				<td class='ingrtd'>hiivaa</td>
			  </tr> <tr>
				<td class='ingrtd'>2 dl</td>
				<td class='ingrtd'>vettä</td>
			  </tr> <tr>
				<td class='ingrtd'>1 tl</td>
				<td class='ingrtd'>suolaa</td>
			  </tr> <tr>
				<td class='ingrtd'>3 rkl</td>
				<td class='ingrtd'>öljyä</td>
			  </tr> <tr>
				<td class='ingrtd'>5 dl</td>
				<td class='ingrtd'>vehnäjauhoja </td>
			  </tr>
		</table> 

		</div>

		<h3 class='contenth3'>Ohjeet</h3>

		<div class='contentP'>

		<p>
			

1. Sekoita hiiva kädenlämpöiseen veteen, lisää suola ja öljy.

2. Sekoita vehnäjauhot joukkoon ja tarvittaessa enemmän kuin (5dl) niin että taikina ei jää sormiin kiinni.

3. Kohota taikinaa kulhossa liinan alla n. 30 min.

4. Kaulitse, täytä ja paista 225 asteisessa uunissa n. 20 min.

5. (Täytteet oman mielen mukaan).

		</p>

		</div>
		