<!DOCTYPE HTML>
		<head>
			<meta charset='utf-8'>
		</head>
		<h2 class='contenth2'>Ratatouille</h2>

		<div class='contentP'>
		
		 <table>
		  <tr>
				<td class='ingrtd'>2 kpl</td>
				<td class='ingrtd'>punasipulia</td>
			  </tr> <tr>
				<td class='ingrtd'>3 kpl</td>
				<td class='ingrtd'>paprikaa (punainen, keltainen ja vihreä)</td>
			  </tr> <tr>
				<td class='ingrtd'>1 kpl</td>
				<td class='ingrtd'>kesäkurpitsa</td>
			  </tr> <tr>
				<td class='ingrtd'>1 kpl</td>
				<td class='ingrtd'>iso munakoiso</td>
			  </tr> <tr>
				<td class='ingrtd'></td>
				<td class='ingrtd'>oliivi / rypsiöljyä</td>
			  </tr> <tr>
				<td class='ingrtd'>1 prk (400g)</td>
				<td class='ingrtd'>kuorittuja tomaatteja</td>
			  </tr> <tr>
				<td class='ingrtd'>1 prk (400-500g)</td>
				<td class='ingrtd'>paseerattua tomaattia</td>
			  </tr> <tr>
				<td class='ingrtd'>2 kpl</td>
				<td class='ingrtd'>laakerinlehti</td>
			  </tr> <tr>
				<td class='ingrtd'>6 kpl</td>
				<td class='ingrtd'>valkosipulinkynttä</td>
			  </tr> <tr>
				<td class='ingrtd'>1 tl</td>
				<td class='ingrtd'>(meri)suolaa</td>
			  </tr> <tr>
				<td class='ingrtd'>1 rkl</td>
				<td class='ingrtd'>hunajaa</td>
			  </tr> <tr>
				<td class='ingrtd'>5 rkl</td>
				<td class='ingrtd'>yrttimarinoituja fetakuutioita tai mozzarella palloja viimeistelyyn</td>
			  </tr> <tr>
				<td class='ingrtd'></td>
				<td class='ingrtd'>mustapippuria (basilikaa, rosmariinin oksa)</td>
			  </tr> <tr>
				<td class='ingrtd'></td>
				<td class='ingrtd'>(tuoretta persiljaa)</td>
			  </tr>
		</table> 

		</div>

		<h3 class='contenth3'>Ohjeet</h3>

		<div class='contentP'>

		<p>
			Pese kesäkurpitsat ja munakoisot, niitä ei ei kuorita. Pese myös paprikat ja poista niistä siemenkodat. Paloittele kaikki kasvikset n. 2cm kuutioiksi. (paprikat voi halutessa paahtaa kuumassa uunissa nopeasti). Kuullota sipulilohkoja kuumassa rautapadassa öljyssä. Lisää muut kasvikset ja kuullota myös niitä. Lisää sitten kasvisten joukkoon pataan suola, mausteet ja tomaatit, anna hautua hiljalleen, välillä sekoitellen n. 30 min. kannella peitettynä. Lisää pinnalle loppuvaiheessa (silputtu persilja), juustot ja hunaja anna hetki muhia. 
		</p>

		</div>
		