<h2 class="contenth2">Kaikki reseptit</h2>

<div class="contentP2">
	<input type="text" id="searchInput" name="search" ng-keyup="doSearch()" placeholder="Etsi resepti" style="width:250px;">
</div>

<ul id="rcpUl">
<li><a href='#lihapullat'>Lihapullat/pihvit</a></li>
<li><a href='#pippurikastike'>Pippurikastike</a></li>
<li><a href='#pekonikastike'>Pekonikastike</a></li>
<li><a href='#kananmarinadi'>Kanalle marinadi</a></li>
<li><a href='#tomaattikeitto'>Helppo tomaattikeitto</a></li>
<li><a href='#jasminriisi'>Jasminriisin keittäminen</a></li>
<li><a href='#letutveteen'>Lettutaikina veteen</a></li>
<li><a href='#mutakakku'>Mutakakku</a></li>
<li><a href='#mikrobrowniet'>Mikrobrowniet</a></li>
<li><a href='#paprikakastike'>Paprikakastike</a></li>
<li><a href='#munattomatletut'>Munattomat letut</a></li>
<li><a href='#makaroonilaatikko'>Makaroonilaatikko</a></li>
<li><a href='#sienirisotto'>Sienirisotto</a></li>
<li><a href='#ratatouille'>Ratatouille</a></li>
<li><a href='#pizzapohja'>Pizzapohja</a></li>
<li><a href='#kauramaitopannari'>Kauramaito-pannari</a></li>
<li><a href='#kinkkupiirakka'>Kinkkupiirakka</a></li>
<li><a href='#nakkikeitto'>Nakkikeitto</a></li>
</ul>